/*
 * Empty Stylesheet file.
 */

*{
    -fx-text-fill: #30393E;
    /*-fx-background-image: url("/photos/background.jpg");*/
}
/*灰色字体*/
.font-gray {
    -fx-text-fill: rgb(122, 122, 122);
}
.font-black {
    -fx-text-fill: rgb(27, 27, 27);
}

.canvas{
    -fx-alignment: center;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-background-color: #fff;
}

.top_contain{
    -fx-pref-height: 60px;
    -fx-background-color: #eeeeee;
}

.label_title{
    -fx-font-family: "等线 Light (标题)";
    -fx-font-size: 2.5em;
    -fx-alignment: center;
}

.center_contain{
    -fx-padding: 50 0 0 0;
    -fx-alignment: top-center;
}


.label_start{
    -fx-min-width: 50px;
    -fx-font-family: "等线 Light (标题)";
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #30393E;
    -fx-alignment: center-left;
}

.kind{
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
}

.textfield{
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-text-fill: #30393E;
    -fx-border-color:#30393E ;
    -fx-font-size: 15px;
}

.signIn{
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-background-color:#eee ;
    -fx-font-size: 1.1em;
    -fx-text-fill: #30393E;
}


.textfield:focused{
    -fx-border-color:#30393E ;
    -fx-background-color: #eeeeee;
}

.radio-button{
    -fx-font-size: 1.1em;
}
/*鼠标覆盖按钮效果*/
.btn-basic:hover {
    /*粗体*/
    -fx-font-weight: bold;
    /*透明度*/
    -fx-opacity: 0.8;
}

/*边框正常弧度按钮*/
.button-a {
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-background-color: #080a12;
}

/*边框圆角按钮*/
.btn-radius-large {
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #a7adc6;
}

