*{

    /*-fx-background-image: url("/photos/background.jpg");*/
    /*-fx-background-color: #8b918f;*/
}
gridPane{
    -fx-background-fill: black, white ;
    -fx-background-insets: 0, 1 ;
}
.background{
    -fx-background-image: url("/photos/qqq.gif");
}
